YourFuckingIPAddress: "{{.Address}}"
YourFuckingLocation: "{{.Geo}}"
YourFuckingHostname: "{{.Hostname}}"
YourFuckingISP: "{{.ISP}}"
YourFuckingTorExit: {{.Tor}}
YourFuckingCity: {{.City}}
YourFuckingCountry: {{.Country}}
YourFuckingCountryCode: "{{.CountryCode}}"
